/* body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  } 
header {
    height: 120px;
  }
  header h1 {
    float: left;
    margin-top: 20px;
  }
  header h1 .color {
    color: #02b8dd;
  }
  header nav {
    float: right;
  }
  header nav ul li {
    display: inline-block;
    margin-top: 40px;
  }
  
  .log{
    position: absolute;
    right: 2%;
    top:7%;
  }
  .log button{
    margin:7px;
    outline: none;
    height: 30px;
    width: 60px;
    border: 1px solid #02b8dd;
    border-radius: 10px;
    font-weight: bold;
  }
  .log button:hover{
    background-color: #025869;
  }  
  header {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50% / 30%;
  } 
   header {
    width: 100%;
    height: 20%;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(
      180deg,
      rgb(56, 150, 245),
      rgb(194, 223, 250)
    );
  }  
   .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
  }
  .wrapper {
    display: block;
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 20px;
  } 
   li a {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 16px;
    padding-right: 10px;
    text-decoration: none;
    margin-right: 20px;
  }
  */