body {
    background-color: rgb(224, 219, 219);
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  } 
header {
    max-height: 120px;
    margin-bottom: 40px;
}
  header h1 {
    float: left;
    margin-top: 10px;
    color: white;
    transform: translateX(-80px);
  }
  header h1 .color {
    color: #02b8dd;
  }
  header nav {
    float: right;
  }
  .search{
    width: 200px;
    margin: 10px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #02b8dd ;
    height: 20px;
    transform: translateX(-350px);
}
  header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 10px;
    transform: translateY(-60px);
}
  
  .log{
    position: absolute;
    right: 2%;
    top:7%;
  }
  .log button{
    margin:7px;
    outline: none;
    height: 30px;
    width: 60px;
    border: 1px solid #02b8dd;
    border-radius: 10px;
    font-weight: bold;
  }
  .log button:hover{
    background-color: #025869;
  }  
  header {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 50% 50% / 30%;
  } 
   header {
    width: 100%;
    height: 20%;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(
      180deg,
      rgb(56, 150, 245),
      rgb(20, 24, 27)
    );
  }  
   .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
  }
  .wrapper {
    display: block;
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 20px;
  } 
  header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 16px;
    padding-right: 5px;
    text-decoration: none;
    margin-right: 5px;
  }
  footer {
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 50% 50% 0 0/ 30%;
  } 
   footer {
    width: 100%;
    height: 5%;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(245, 7, 7);
    background-image: linear-gradient(
      180deg,
      rgb(56, 150, 245),
      rgb(4, 5, 5)
    );
  }
  #footer-links ul li a{
    color: white;
  }
  #footer-links ul li a:hover{
    color: black;
  }  