* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(241, 242, 246, 1);
  padding: 5%;
  text-align: center;
  font-size: 50;
  /* font-family: "Blinker", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.form {
  background-color: rgba(223, 228, 234, 1);
  background-size: cover;
  display: inline-block;
  width: 80%;
  margin-top: 20px;
  line-height: 1.6;
  padding: 10px;
}

.form-agatha {
  margin-left: 200px;
}

header {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 50% 50% / 30%;
}

header {
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(
    180deg,
    rgba(72, 84, 96, 1),
    rgba(128, 142, 155, 1)
  );
}

.moments {
  width: 90%;
  padding: 1px;
  margin-left: 50px;
  height: 800px;
}

/* zoom */
.details {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}


/* Author Info Card  */

.card {
  margin: 30px auto;
  width: 280px;
  height: 280px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

/* product details section */
.row {
  position: relative;
  margin-bottom: 100px;
}
.pd-wrap {
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}
.heading-section {
  text-align: center;
  margin-bottom: 70px;
}
.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading-section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  min-width: 80px;
  background-size: 100%;
}
.carousel-testimonial .item {
  padding: 30px 10px;
}
.quote {
  position: absolute;
  top: -23px;
  color: #2e9da1;
  font-size: 27px;
}
.name {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}
.position {
  color: #adadad;
  font-size: 14px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  outline: none;
  height: 25px;
}
.owl-nav button svg {
  width: 25px;
  height: 25px;
}
.owl-nav button.owl-prev {
  left: 25px;
}
.owl-nav button.owl-next {
  right: 25px;
}
.owl-nav button span {
  font-size: 45px;
}

.product-slider .item img {
  height: 300px;
}

.product-thumb .item img {
  height: 100px;
}
.product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}
.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}
.product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}
.display-flex {
  display: inline-block;
}
.align-center {
  align-items: center;
}
.product-info {
  width: 100%;
}
.reviews-counter {
  font-size: 13px;
}
.reviews-counter span {
  vertical-align: -2px;
}
.rate {
  float: left;
  padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}
.rate:not(:checked) > label:before {
  content: "\2605";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.product-dtl p {
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}
.product-dtl .form-control {
  font-size: 15px;
}
.product-dtl label {
  line-height: 16px;
  font-size: 15px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.product-count {
  margin-top: 15px;
}
.product-count .qtyminus,
.product-count .qtyplus {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: #212529;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}
.product-count .qty {
  width: 60px;
  text-align: center;
}
.round-black-btn {
  border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529;
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.round-white-btn {
  border-radius: 4px;
  background: #fff;
  color: #212529;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  border: solid 2px #fff;
  transition: all 0.5s ease-in-out 0s;
}
.round-white-btn:hover,
.round-white-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.product-info-tabs {
  margin-top: 25px;
}
.product-info-tabs .nav-tabs {
  border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
  border: none;
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
  border: none;
  border-bottom: 2px solid #d8d8d8;
  font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
  padding: 30px 20px;
  font-size: 15px;
  line-height: 24px;
  color: #7a7a7a;
}
.review-form .form-group {
  clear: both;
}
.mb-20 {
  margin-bottom: 20px;
}

.review-form .rate {
  float: none;
  display: inline-block;
}
.review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
}
.review-form .form-control {
  font-size: 14px;
}
.review-form input.form-control {
  height: 40px;
}
.review-form textarea.form-control {
  resize: none;
}
.review-form .round-black-btn {
  text-transform: uppercase;
  cursor: pointer;
}

/* slideshow area */
#slideshow {
  overflow: hidden;
  height: 400px;
  width: 850px;
  margin: 0 auto;
  padding-top: 20px;
}

/* each slide*/
.slide {
  float: left;
  height: 400px;
  width: 850px;
}

/* slide animation */
.slide-wrapper {
  width: calc(850px * 4);
  animation: slide 12s ease infinite;
  -webkit-animation: slide 12s ease infinite;
}

/* Calc argin */
@keyframes slide {
  20% {
    margin-left: 0px;
  }

  40% {
    margin-left: calc(-850px * 1);
  }

  60% {
    margin-left: calc(-850px * 2);
  }

  80% {
    margin-left: calc(-850px * 3);
  }
}

#logo {
  border-radius: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  opacity: 0.8;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}

.wrapper {
  display: block;
  padding-top: 20px;
  padding-bottom: 16px;
  font-size: 20px;
}

.containerParagraph {
  padding-bottom: 90px;
}

#divBookType {
  width: 100%;
  padding: 1px;
  margin-top: 100px;
  height: 300px;
}

.underSlider {
  position: relative;
  width: 24%;
  height: 300px;
  border: 2px solid rgb(153, 148, 148);
}

.divCategoryImage {
  position: relative;
  width: 20%;
  height: 250px;
}

.divDescription {
  position: relative;
  width: 40%;
  height: 250px;
  display: table;
  padding-left: 40px;
}

.divReadMore {
  position: relative;
  width: 20%;
  height: 250px;
  padding-top: 90px;
}

.btnReadMore {
  position: absolute;
  background-color: #555;
  color: white;
  font-size: 16px;
}

.readMoreButton:hover {
  background-color: black;
}

.readMore {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  margin-top: 90px;
  border: none;
  right: 30px;
  bottom: 20px;
  border-radius: 5px;
}

.readMore:hover {
  background-color: black;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: 0.25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  max-width: 600px;
  width: 30%;
}

h3.sub2 {
  font-size: 3rem;
  margin-top: -20px;
  margin-bottom: -15px;
  font-family: "Goldman", cursive;
}

h3.sub3 {
  font-size: 2rem;
  margin-top: -20px;
  margin-bottom: -15px;
  font-family: "Goldman", cursive;
}

h3.sub4 {
  font-size: 1.5rem;
  margin-top: -20px;
  margin-bottom: -15px;
  font-family: "Goldman", cursive;
}

/* Championships */

.authors {
  width: 70%;
  padding: 1px;
  margin-top: 50px;
  margin-left: 150px;
  height: 250px;
}

div.images {
  position: relative;
  width: 40%;
  height: 300px;
  margin-top: 10px;
  align-items: right;
}

.images img:nth-of-type(1) {
  border: 2px solid rgb(153, 148, 148);
}

div.paragraphs {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Foundation */
.foundation {
  width: 90%;
  padding: 1px;
  margin-left: 10px;
  height: 480px;
}

.imageFoundation {
  position: relative;
  width: 40%;
  height: 420px;
  margin-left: 10px;
  margin-top: 80px;
  align-items: right;
}

.paragraphsFoundation {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 50px;
  padding-right: 10px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
}

li {
  float: left;
}

.navigation-bar {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-container {
  margin-left: 1000px;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-right: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(30, 39, 46, 1);
}

/* team members */

.container {
  width: 100%;
  text-align: center;
}

.panel {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  width: 280px;
  height: 400px;
  text-align: center;
  margin-bottom: 80px;
}

.right-author {
  margin-left: 120px;
}

.left-author {
  margin-right: 120px;
}

.team-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
    0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
}

.team-table * {
  text-align: center;
  text-transform: uppercase;
}

.team {
  width: 100%;
  height: 400px;
  align-content: center;
  display: inline-block;
}

.inline-image {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 30%;
  top: 35%;
  left: 55%;
}

.inline-image img:nth-of-type(1) {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.author-card {
  width: 100%;
  height: 50%;
  background-color: rgba(223, 228, 234, 1);
  align-content: center;
  display: inline-block;
}

.author-paragraph {
  width: 100%;
  height: 20%;
  background-color: rgba(223, 228, 234, 1);
  align-content: center;
  display: inline-block;
}

.author-name {
  width: 100%;
  height: 10%;
  padding-left: 20px;
  padding-top: 10px;
  background-color: rgba(223, 228, 234, 1);
  align-content: center;
  display: inline-block;
}

.auther-button {
  width: 100%;
  height: 15%;
  background-color: rgba(223, 228, 234, 1);
  align-content: center;
  display: inline-block;
}

.team:last-child {
  border-bottom: none;
}

.person-img {
  width: 100%;
  height: 100%;
}

.team-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.team-title {
  color: #016ff9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 15px 0 25px;
  display: table;
}

.team-title-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  text-align: center;
  float: none;
}

.team-title-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.contact-info {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

/* footer  */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  text-align: left;
  font: normal 16px sans-serif;
}

.footer-left {
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 80px;
  max-width: 180px;
  margin-right: 10px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.social-contact-icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

.footer-links {
  height: 100%;
  margin-top: 200px;
}

.footer-copy {
  margin-top: 30px;
  display: inline-block;
  margin-left: 2px;
}
