.images-card{
    width: 100%;
    max-height: 500px;
}
.text-card2{
    padding: 0px;
}
.w-100{
    height: 30px;
}
.card-text{
    height: 100%;
    padding: 0px;
    display: block;
    color: rgb(41, 40, 40);
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}
.card-title{
    font-weight: bolder;
    font-size: 26px;
    color: #1f3755;
    
}
.code-text{
    color: rgb(87, 84, 84);
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
   
}
.code-text1{
    font-weight: bold;
    font-size: 22px;
    color: rgb(65, 65, 66);
}
.btn{
    background-color:#1f3755;
    border: 1px solid #1f3755;
    font-weight: bold;
    font-size: 22px;

}
.btn:hover{
    background-color: rgba(31, 55, 85, 0.8);
    border: 1px solid rgba(31, 55, 85, 0.8);
}
.nav{
    padding: 15px;
}
.nav:hover{
    text-decoration: none;
    background-color: rgb(53, 51, 51);
    color: white;
    
}
.card-img-top:hover{
    cursor: pointer;
}

/* .logo-width{
   
}
#logo{
    width: fit-content;
    width:500px !important;
} */
header{
background-image: linear-gradient(
    180deg,
    rgb(6, 74, 143),
    rgb(5, 86, 161)
  );
}

header button{
    color: white;
    background-color: rgb(79, 79, 245);
    border: 1px solid rgb(79, 79, 245);
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 8px;
    font-size: large;
}
header li:nth-of-type(7) a , header li:nth-of-type(8) a {
    padding: 0px;
}
header button:hover{
    cursor: pointer;
    background-color: black;
}
header li:nth-of-type(7) a:hover, header li:nth-of-type(8) a:hover{
    text-decoration: none;
    background-color: black;
}
table, th, td {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;;
  }
  th, td {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  /* Header  */
  
  #errorMsg{
    display: none;
    margin-bottom: 30px;
  }
  
  #infoTable{
    display: none;
  
  }